# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
dist-ssr
build


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System Files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Cache
.eslintcache
.stylelintcache
__pycache__/
*.py[cod]
*$py.class
.coverage
.pytest_cache/

# Docker volumes
docker/volumes/

# Environment
.env
.env.*
!.env.example
!.env.dev.example
