@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f5f5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  }
  
  .game-container {
    width: 500px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
  }
  
  .game-header {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
  }
  
  .game-title {
    font-size: 20px;
    font-weight: 500;
    color: #333;
  }
  
  .controls {
    display: flex;
    gap: 20px;
  }
  
  
  .game-status {
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    background: #f8f9fa;
    font-size: 14px;
    color: #555;
  }
  
  .status-left, .status-right {
    display: flex;
    gap: 16px;
  }
  
  .game-grid {
    padding: 3px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /*/ gap: 3px;*/
    background: #999;
    aspect-ratio: 1;
  }
  
  .cell {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    background: white;
    cursor: pointer;
    transition: opacity 0.2s;
    border: 1px solid #acacac;  /* добавляем border */
    box-sizing: border-box; /* Важно! Гарантирует, что border не увеличит размер */


  }
  
  .cell:hover {
    opacity: 0.8;
    transform: scale(1.05);

  }
  
  .cell.player1 {
    background: #4a90e2;
    color: white;
  }
  
  .cell.player2 {
    background: #e25c5c;
    color: white;
  }
  
  .cell.empty {
    background: #e6f3ff;
  }

  .grid-cols-10 {
    grid-template-columns: repeat(10, 1fr) !important;
  }
  
  .grid {
    display: grid !important;
  }








.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e4e4e7;
  transition: 0.3s;
  border-radius: 20px;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.switch input:checked + .switch-slider {
  background-color: #3b82f6;
}

.switch input:checked + .switch-slider:before {
  transform: translateX(16px);
}

.controls {
  display: flex;
  gap: 20px;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggle-label {
  font-size: 14px;
  color: #4b5563;
  user-select: none;
}
